<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <!-- Custom CSS -->
    <link rel="stylesheet" href="../static/quiz.css">
    <!-- Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital@1&family=Poor+Story&family=Ubuntu:wght@500&display=swap" rel="stylesheet">
    <!-- Bootstrap -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>
<body>
<!-- Nav -->
<nav class="navbar navbar-expand-lg bg-light shadow" style="background-color: #29A489"; !important;>
  <div class="container-fluid">
    <a class="navbar-brand" href="{{ url_for('home') }}">
        <img src="../static/logo.jpg" alt="" class="img-fluid" style="max-height: 2.5rem;">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav ms-auto">
        <a class="nav-link" href="{{ url_for('home') }}" style="font-family: Roboto, Helvetica, Arial, sans-serif;"><strong>Home</strong></a>
        <a class="nav-link" href="{{ url_for('welcome') }}" style="font-family: Roboto, Helvetica, Arial, sans-serif;"><strong>Quiz</strong></a>
      </div>
    </div>
  </div>
</nav>

<!-- Quiz -->
<form method="post" class="border m-4 p-3 shadow h-75">
    <fieldset>
        <h3 class="mb-2 pb-0 mt-2 text-center" style="font-family: 'Montserrat', sans-serif;">What's Your Education Level?</h3>

        <div class="form-check mb-1 w-25 mx-auto">
          <input class="form-check-input" type="radio" name="q1" id="middle_school"  value="MS" required>
          <label class="form-check-label" for="middle_school">
            Middle School
          </label>
        </div>

        <div class="form-check mb-1 w-25 mx-auto">
          <input class="form-check-input" type="radio" name="q1" id="high_school" value="HS">
          <label class="form-check-label" for="high_school">
            High School
          </label>
        </div>

        <div class="form-check mb-1 w-25 mx-auto">
          <input class="form-check-input" type="radio" name="q1" id="college" value="College">
          <label class="form-check-label" for="college">
            College
          </label>
        </div>
    </fieldset>

    <hr class="w-75 mx-auto shadow border">

    <fieldset>
        <h3 class="mb-2 pb-0 mt-2 text-center" style="font-family: 'Montserrat', sans-serif;">Time Frame to get an Education?</h3>

        <div class="form-check mb-1 w-25 mx-auto">

          <input class="form-check-input" type="radio" name="q2" id="1Y" value="0-1 Year" required>

          <label class="form-check-label" for="1Y">
            1 Year
          </label>
        </div>

        <div class="form-check mb-1 w-25 mx-auto">
          <input class="form-check-input" type="radio" name="q2" id="2Y" value="2 year">
          <label class="form-check-label" for="2Y">
            1-2 Years
          </label>
        </div>

        <div class="form-check mb-1 w-25 mx-auto">
          <input class="form-check-input" type="radio" name="q2" id="3Y" value="4 year">
          <label class="form-check-label" for="3Y">
            2+ Years
          </label>
        </div>
    </fieldset>

    <hr class="w-75 mx-auto shadow border">

    <fieldset>
        <h3 class="mb-2 pb-0 mt-2 text-center" style="font-family: 'Montserrat', sans-serif;">Your Household Income Range?</h3>

        <div class="form-check mb-1 w-25 mx-auto">
          <input class="form-check-input" type="radio" name="q3" id="under20" value="Low" required>
          <label class="form-check-label" for="under20">
            Under 20k
          </label>
        </div>

        <div class="form-check mb-1 w-25 mx-auto">
          <input class="form-check-input" type="radio" name="q3" id="under80" value="Medium"  >
          <label class="form-check-label" for="under80">
            20k-80k
          </label>
        </div>

        <div class="form-check mb-1 w-25 mx-auto">
          <input class="form-check-input" type="radio" name="q3" id="above80" value="High" >
          <label class="form-check-label" for="above80">
            Above 80k
          </label>
        </div>
    </fieldset>

    <hr class="w-75 mx-auto shadow border">

    <div class="d-flex justify-content-center">
        <button type="submit" class="btn btn-secondary mx-auto shadow" value="Send Form">Submit</button>
    </div>
</form>
<!-- Bootstrap -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js" integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk" crossorigin="anonymous"></script>
</body>
</html>